@model List<CredentialManager.ViewModels.CredentialViewModel>

@{
    ViewBag.Title = "ManageCredential";
}

<h2>Manage</h2>

<p class="text-success">@ViewBag.StatusMessage</p>

<div>
    <h4>Change credential account settings</h4>
    <br />
    <span class="text-danger" id="validateManageCredential"></span>
    <br />
    <hr />
    @if (Model != null && Model.Any())
    {
        foreach (var storeUser in Model.ToList())
        {
            <dl class="dl-horizontal">
                <dt style="min-width: 400px; margin-right: 20px;">@storeUser.CredentialKey / @storeUser.CredentialType:</dt>
                <dd class="credRow storeIdWrapper" id="@storeUser.Id">
                    [
                    @if (storeUser.HasPassword)
                    {
                        @Html.ActionLink("Change your password", "ChangeCredentialPassword", "Manage", new { id = storeUser.Id }, new { title = "change credential password" })

                    }
                    else
                    {
                        <span style="visibility: hidden">Change your password</span>
                    }
                    ]
                    &nbsp;
                    &nbsp;
                    [
                    <span class="removeUserCredential" id="@storeUser.Id" title="Remove credential account" style="color: #337ab7" onclick="RemoveAdUserCredential($(this))">x</span>
                    ]
                    &nbsp;
                    &nbsp;
                    <button class="btn btn-default loadAssignement" id="@storeUser.Id" title="Load Assignment" style="color: forestgreen; font-size: 12px; height: 20px; line-height: 7px !important;">Assign</button>
                    &nbsp;
                    &nbsp;
                    <span style="">@storeUser.LastChange</span>
                </dd>
            </dl>
        }
    }

</div>

<!-- Modal -> adaptive mail changes-->
<div id="modalPrincipals" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 700px;">

        <!-- content-->
        <div class="modal-content">
            
            <!-- hold necessary data -->
            <input id="modStoreId" type="hidden" value=""/>

            <div class="modal-header" style="text-align: center">
                <h4 id="modalPrincipalTitelHeader" class="modal-title" style="font-family: Tahoma"></h4>
            </div>
            
            <div class="modal-body" id="idModalPrinicipals">
                <div id="principalGrid" style="margin: 10px;"></div>
            </div>
            
            <div class="modal-footer" style="text-align: center">
                <!-- Close & Save -->
                <button id="idCloseDialog" type="button" class="btn btn-default" style="color: forestgreen" data-dismiss="modal">
                    <span style="font-size: 15px">Close</span>
                </button>
            </div>

        </div>
        
        

    </div>
</div>

@section Scripts {
    <script src="@Url.Content("/Scripts/principals.js")"></script>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/kendo")
}
